<div class="container-fluid acf">
  <div class="panel panel-primary" ng-if="vm.mode === 'manage'">
    <div class="panel-heading">
      <h2 class="panel-title">Manage Alternate Care Facilities (ACFs)</h2>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Identifier</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col"><span class="sr-only">Action</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="acf in vm.acfs | orderBy:'identifier'">
            <td>{{ acf.identifier }}</td>
            <td>{{ acf.name }}</td>
            <td><ai-addresses fixed="true" addresses="[acf.address]"></ai-addresses></td>
            <td>{{ acf.phoneNumber }}</td>
            <td>
              <button class="btn btn-primary" ng-click="vm.editAcf(acf)"><i class="fa fa-pencil"></i><span class="sr-only">Edit</span></button>
              <button class="btn btn-default" ng-click="vm.selectAcf(acf)" ng-if="vm.hasRole(['ROLE_ADMIN'])"><i class="fa fa-check-square"></i><span class="sr-only">Select</span></button>
            </td>
          </tr>
      </table>
    </div>
  </div>
  <div ng-if="vm.mode === 'view'">
    <h3>{{ vm.acf.identifier }}<small ng-if="vm.acf.name"> ({{ vm.acf.name }})</small></h3>
    <a href ng-click="vm.editAcf(vm.acf)" class="pull-right" ng-if="vm.hasRole(['ROLE_ADMIN','ROLE_ORG_ADMIN'])"><span class="sr-only">Edit information</span><i class="fa fa-pencil"></i></a>
    <span ng-if="vm.acf.phoneNumber">{{ vm.acf.phoneNumber }}</span>
    <div ng-if="vm.acf.address && vm.acf.address"><ai-addresses fixed="true" addresses="[vm.acf.address]"></ai-addresses></div>
  </div>
  <div ng-if="vm.mode === 'select'">
    <ul>
      <li ng-repeat="acf in vm.acfs"><pre>{{ acf | json }}</pre></li>
    </ul>
  </div>
</div>
